################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaskManagerMVC/.vs
/TaskManagerMVC/packages
/TaskManagerMVC/TaskManagerMVC/bin
/TaskManagerMVC/TaskManagerMVC/obj/Debug
